{% extends "common.html" %}
    {% block title %} Password Reset{% endblock title %}
    {% block content %}
    {% load static %}
    {% load humanize %}
    {% load crispy_forms_tags %}

    <div class="container col-md-3 my-4 shadow-sm p-3 border rounded">
        <h4 class="text-center">Password Reset</h4>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-sm btn-dark w-100">Submit</button>
        </form>
    </div>
 

    {% endblock %}